<form method="post" action="/editprofile">

  <input type="text" name="email" placeholder="Email Address">

   <input type="password" name="password" placeholder="Password">

  <input type="submit" value="Submit">


</form>

<%= current_user.email %>
<br>
<%= current_user.password %>
