 <nav id="navbar_home_loggedin">
   <ul>
     <li><a href = "/">Profile</a></li>
     <li><a href = "/">Logout</a></li>
   </ul>
 </nav>

<form method="post" action="/homepage">

  <textarea name="body" placeholder="share your pizza"></textarea>

  <input type="submit" value="Submit">


</form>

