<form method="post" action="/homepage">

  <textarea name="body" placeholder="share your pizza"></textarea>

  <input type="submit" value="Submit">


</form>

<% @posts.reverse.each do |post| %>
      <strong>post: </strong><%= post.body %> || <strong> time: </strong><%= post.posttime %><br>

  <% end %>
