<!DOCTYPE html>
<html>
<head>
 <title>AWESOME MICROBLOG</title>
 <meta charset = "UTF-8">
 <link rel="stylesheet" href="styles/normalize.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="/styles/styles.css">
 <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
 <script type="text/javascript" src = "/scripts.js"></script>
</head>
<body>
<header>
<h1 id="maintitle">Pizza MegaBlog</h1>
 <nav>
 	<ul>
		<% if session[:user_id] %>
	    <li id="homelink"><a href = "/">Home</a></li>
	    <li id="homelink"><a href = "/profile">Profile</a></li>
	    <% else %>
	    <li id="homelink"><a href = "/">Home</a></li>
	    <% end %>
	 	<% if session[:user_id] %> 
	     <li><a href="/logout">Logout</a></li>
	    <% else %>
	     <li><a href="/signup">Sign Up</a></li>
	     <li><a href="/login">Login</a></li>
	    <% end%>
    </ul>
</nav>
</header>

<div id="container">

<%= yield %>

</div>

<footer>
</footer>
</body>
</html>