<!DOCTYPE html>
<html>
<head>
 <title>AWESOME MICROBLOG</title>
 <meta charset = "UTF-8">
 <link rel="stylesheet" href="styles/normalize.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="styles/styles.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
 <script type="text/javascript" src = "/scripts.js"></script>
</head>
<body>
<header>
<h1 id="maintitle">Pizza MegaBlog</h1>
 <nav id="left">
    <a href = "/">Home</a>
 </nav>
 <nav id="right">
 	<% if session[:user_id] %> 
      <a href="/logout">Logout</a>
    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
    <% end%>
</nav>
</header>

<footer>
</footer>
<%= yield %>
</body>
</html>