<form method="post" action="/signup">

  <input type="text" name="email" placeholder="Email Address">

   <input type="password" name="password" placeholder="Password">

  <input type="submit" value="Submit">


</form>