/* GENERAL */
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Roboto');


html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: .9em;
  line-height: 1.2;
  height: 100%;
  box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1 {
	font-family: "Roboto";
	font-size: 2.5em;
	line-height: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-color: #f6f6f6;
}

/* HEADER */

header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-image: url("http://thumbs.dreamstime.com/z/pepperoni-pizza-closeup-appetizing-background-filling-frame-42216649.jpg");
  height: 12em;
  border: 1px solid transparent;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#maintitle {
	text-align: center;
	color: #fff;
  font-size: 3em;
}

/* NAVBAR */

nav {
  margin: 0 auto;
  width: 100%;
  height: 5em;
  position: relative;
  /*top: 60px;*/
  display: inline-block;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  line-height: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  float: right;
  padding: 10px 0;
  margin-right: -4px;
  width: 120px;
  text-align: center;
  font-family: "Roboto";
  font-size: 22px;
}

#homelink {
	float: left;
}

nav a {
  padding: 10px 20px;
  margin: 0;
  width: 120px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

nav a:hover {
  background-color: #FF6B6B;
  opacity: .8;
  color: #000;
  text-shadow:none;
}


#container {
	width: 100%;
	position: relative;
	text-align: center;
	margin: 0 auto;
	padding: 1em;
  overflow: auto;
}

/* FLASH */

.flash {
  padding: 1em;
  border-radius: 4px;
}

.notice {
  border: 1px solid green;
  background-color: #ccff99;
}

.alert {
  border: 1px solid red;
  background-color: #ff6666;
}

/* FORM */

form {
	margin: 0 auto;
	padding: 2em;
  	width: 500px;
  	color: #000;
  	border: 1px solid black;
}

input {
	position: relative;
  	display: inline-block;
  	width: 20em;
  	padding: 2em;
  	line-height: 2;
  	border: 2px solid #000;
  	outline: none;
  	border-radius: 0;
  	box-shadow: none;
  	background-color: #fff;
  	color: #000;
  	font-weight: bold;
  	transition: border 0.3s;
}

input:focus {
  border: 2px solid #FF6B6B;
}

input:hover {
	color: #000;
  	background: #4ECDC4;
}


textarea {
	position: relative;
  	display: inline-block;
  	width: 20em;
  	padding: 2em;
  	line-height: 2;
  	border: 2px solid #000;
  	outline: none;
  	border-radius: 0;
  	box-shadow: none;
  	background-color: #fff;
  	color: #000;
  	font-weight: bold;
  	transition: border 0.3s;
}

textarea:focus {
	border: 2px solid #FF6B6B;
}

textarea:hover {
	color: #000;
  	background: #4ECDC4;
}

/* LINK BUTTON */

.btn {
  line-height: 2;
  padding: 1em;
  border: 3px solid #000;
  border-radius: 5px;
  background: #4ECDC4;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover,
.btn:active {
  color: #fff;
  background: #ff6b6b;
}

/* SPECIFIC DIVS */

#post {
	position: relative;
	width: 30em;
	text-align: center;
	border: 3px solid black;
	margin: 0 auto;
	padding: 1em;
}

<<<<<<< HEAD
#feed {
  position: relative;
  /*width: 30em;*/
  text-align: center;
  border: 3px solid black;
  margin: 0 auto;
  padding: 1em;
}

#single_feed {
  position: relative;
  width: 30em;
  text-align: center;
  border: 3px solid black;
  margin: 0 auto;
  padding: 1em;
}



/* profile */


#userProfile {
  float: left;
  text-align: left;
  width: 300px;
  padding: 10px;
  word-wrap: break-word;
  border: 3px solid black;
}

#userPosts {
  float: right;
  margin-right: 150px;
  margin-bottom: 5px;
  border: 3px solid black;
}

#deleteprofile {
  clear: both;
  float: left;
  text-align: left;
  width: 300px;
  padding: 10px;
  word-wrap: break-word;
  border: 3px solid black;
}

#users {
  position: relative;
  width: 30em;
  text-align: center;
  border-left: 3px solid black;
  margin: 0 auto;
  padding: 1em;  
}

#users li {
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 1em;
  line-height: 1.2;
}

#users a {
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  width: 120px;
  height: 50px;
  line-height: 3;
  text-decoration: none;
  color: #000;
  -webkit-transition: 1s;
  transition: 1s;
}

#users a:hover {
  background-color: #FF6B6B;
  opacity: .8;
  color: #000;
  text-shadow:none;
}






